#Archivos no utiles
!.gitignore
*.log
*.bat
*.bmp
*.jpg
*.jpeg
*.gif
*.png
*.xls
*.pdf

#netbeans
/nbproject

frontend/web/assets
frontend/runtime

backend/web/assets
backend/runtime
common/config/main-local.php



