#Archivos no utiles
!.gitignore
*.log
*.bat
*.bmp
*.jpg
*.jpeg
*.gif
*.png
*.xls
*.pdf
#netbeans
/nbproject

frontend/web/assets
frontend/runtime
frontend/config/main-local.php
backend/web/assets
backend/runtime
backend/config/main-local.php



